.sectionArticle{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    .articleInfo{
        width: auto;
        margin: auto;
        .articleCard{
            display: flex;
            justify-content: center;
            flex-direction: column;
            .articleImageContainer{
                display: flex;
                flex-wrap: wrap;
                margin: auto;
            .imgArticle{
                width: 300px;
                height: 200px;
                margin: auto;
                padding: 20px;
                border-radius: 2%;
                -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
                -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
                box-shadow: 0 0 10px rgba(0,0,0,.3);
                margin: 30px;
            }
        }
            .cardBody{
                margin-top: 50px;
                text-align: center;
                h5{
                    text-align: center;
                }
            }
        }
    }
    .btnContacter{
       display: flex;
       justify-content: center;
       margin: 20px;
    }

}