@media screen and (min-width: 900px) /*define here the style of our menu for large screens (>900px) */
{
body{
    background-color: #F9F8F8;

.sectionCarouselForm{
   
    .CarouselContainer{
        margin: auto;
        margin-top: 30px;
        max-width: 60rem;
        height: 27rem;
    }
    .sectionForm{
        margin: auto;
        width: 100%;
        max-width: 50rem;
        min-width: 8rem;
        border: 2px solid #38c172;
        padding: 15px;
        text-align: center;
        border-radius: 2%;
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	    box-shadow: 0 0 10px rgba(0,0,0,.3);

        .formHomeContainer{
            
            display: flex;
            align-items: center;
            
            
            .form-group{
                text-align: center;
                margin: auto;
    
                .form-control{
                    width: 200px;
                    margin: 10px;
                }
            }
            
           
         }
    }
    
}
}
}
@media screen and (max-width: 900px) /* Here we will define the css for smaller screens (<900px) */
{
body{
    background-color: beige;
    .sectionCarouselForm{
        margin: auto;
        
         .CarouselContainer{
             margin: auto;
             margin-top: 30px;
             margin-bottom: 25px;
             width: 100%;
             max-width: 35rem;
             min-width: 8rem;

         }
         .sectionForm{
             
            margin: auto;
            width: 100%;
            max-width: 22rem;
            min-width: 8rem;
            border: 2px solid #38c172;
            margin-bottom: 25px;
            text-align: center;
            border-radius: 2%;
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
            -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
            box-shadow: 0 0 10px rgba(0,0,0,.3);
     
             .formHomeContainer{
                 
                 display: flex;
                 flex-direction: column; 
                 align-items: center;
                 
                 .form-group{
                     text-align: center;
         
                     .form-control{
                         width: 200px;
                         margin: 10px;
                     }
                 }
                }
                     .btn-success{
                        margin-bottom: 15px;
                
              }
         }
         
     }    
}
}