.userNameTitle{
    text-align: center;
    margin-bottom: 30px;
}
.formCreate{
    width: 100%;
    max-width: 700px;
    min-width: 250px;
    margin: auto;
    border: 2px solid #38c172;
    border-radius: 2%;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin-bottom: 20px;

    .titreFormCrate{
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }
    .imageImput{
        height: 40px;
    }
    .btnAjout{
        width: 150px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}