footer{
    // width: 100%;
	height: auto;
    margin : 0 0;
    background-color: #00E6FE;
    .footerMenu{
        margin: 0px 0px 0px 50px;

        .footerLinksMenu{
            font-size: 20px;
            color: rgba(0, 0, 0, 0.5);
        }
    }
    .footerInfos{
        display: flex;
        width: auto;
        height: 300px;
        // margin: 0px 0px 0px 0px;
        margin: auto;
        
    }
        .fotterP{
            margin: 0px 20px 0px 0px;
            display: flex;
            align-items: flex-end;
        }
        .footerMention{
            margin: 0px 0px 0px 20px;
            display: flex;
            align-items: flex-end;
        }
        .dropdown-menu{
            a{
                margin: auto;
            }
            a:hover{
                background-color: grey;
            }
        }
}