@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@media screen and (min-width: 900px) /*define here the style for large screens (>900px) */
{
header
{
    width: 100%;
    height: auto;
    margin : 0 0;
	
    .headrerSection{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-image: url("photos/network.png");

        .divHeaderLogo{
            padding: 20px;
            background-color: #ffed4a;
            height: 100px;
            border-radius: 15%;
            margin: 30px 0px 30px 100px;
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	        -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	        box-shadow: 0 0 10px rgba(0,0,0,.3);

            i{
                font-size: 60px;
                color: #38c172;
            }
        }
        
        .headerLogo{
            max-width: 150px;
            margin: 0px 0px 0px 100px;
            height: auto;
        }
        .headerTitle{
            width: 100%;
            display: flex;
            text-align: center;
            justify-content: center;
			align-items: center;
        }
        h1{
			font-size: 10vmax;
			font-size: 9vmin;
            width: 400px;
            font-family: 'Lobster', cursive;
            
        }

        .headerButton{
            padding: 30px;
        }
        .btnLogin{
            margin: 25px;
            height: 50px;
            width: 200px;
            background-color: #ffed4a;
            border-color: #ffed4a;
            border-radius: 3%;
            text-align: center;
            font-size: 20px;
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	        -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	        box-shadow: 0 0 10px rgba(0,0,0,.3);
        }
        .nav-link{
            color: black;
        }
}
    .navbar-nav{
        a{
            font-size: 20px;
            margin: 0px 30px 0px 30px;
        }
    }
    .dropdown-menu{
        a{
            margin: auto;
        }
        a:hover{
            background-color: grey;
        }
    }
    .sectionButtonHeader{
        width: 300px;
    }
}
}
@media screen and (max-width: 900px) /* Here we will define the css for smaller screens (<900px) */

{
    header
{
    width: 100%;
    height: auto;
    margin : 0 0;
	
    .headrerSection{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-image: url("photos/network.png");

        .divHeaderLogo{
            padding: 20px;
            background-color: #ffed4a;
            height: 70px;
            border-radius: 20%;
            margin: 20px 0px 20px 40px;
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	        -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	        box-shadow: 0 0 10px rgba(0,0,0,.3);

            i{
                font-size: 30px;
                color: #38c172;
            }
        }
        
        .headerLogo{
			max-width: 100px;
			min-width: 50px;
			height: auto;
        }
        .headerTitle{
         display: none;
        }
        h1{
			font-size: 8vmax;
			font-size: 6vmin;
            width: 100%;
            font-family: 'Lobster', cursive;
            text-align: center;
            

            
        }
        .btnLogin{
            margin: 35px;
            max-width: 200px;
			min-width: 50px;
			height: auto;
            background-color: #ffed4a;
            border-color: #ffed4a;
            border-radius: 3%;
            text-align: center;
            font-size: 4vmax;
            font-size: 3vmin;
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	        -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	        box-shadow: 0 0 10px rgba(0,0,0,.3);
        }
        .nav-link{
            color: black;
        }
}
    .navbar-nav{
        a{
            font-size: 17px;
            margin: 10px 0px 0px 0px;
        }
    }
   
}
}