@media screen and (min-width: 900px) /*define here the style of our menu for large screens (>900px) */
{
.logRegPage{
    display: flex;
    align-items: center;
    margin: auto;

    .sectionLogin{
        display: flex;
        width: 600px;
        height: auto;
        align-items: center;
        justify-content: center;
        
        .loginForm{
            display: flex;
            justify-content: center;
            .card{
                -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	            -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	            box-shadow: 0 0 10px rgba(0,0,0,.3);
                .card-header{
                    background-color: #00E6FE;
                }
            }

        }
    }
    .sectionRegister{
        width: 700px;
        height: auto;
        margin-bottom: 25px;
        .registerForm{
            display: flex;
            justify-content: center;
            .card{
                -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	            -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	            box-shadow: 0 0 10px rgba(0,0,0,.3);
            .card-header{
                background-color: #00E6FE;
            }
            }
        }
    }
}
.sectionConfirmationWindow{
    margin-bottom: 40px;
    width: 40rem;

    .confirmationWindowHeader{
        background-color: #00E6FE;
        
        .cofirmationWindow{
            font-size: 30px;
        }
    }
}
}
@media screen and (max-width: 900px) /* Here we will define the css for smaller screens (<900px) */
{
    .logRegPage{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    
        .sectionLogin{
            display: flex;
            width: 100%;
            max-width: 700px;
            min-width: 400px;
            height: auto;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            
            .loginForm{
                display: flex;
                justify-content: center;
                .card{
                    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
                    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
                    box-shadow: 0 0 10px rgba(0,0,0,.3);
                    .card-header{
                        background-color: #00E6FE;
                    }
                }
    
            }
        }
        .sectionRegister{
           width: 100%;
           max-width: 700px;
           min-width: 400px;
            height: auto;
            margin-bottom: 25px;
            .registerForm{
                display: flex;
                justify-content: center;
                .card{
                    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
                    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
                    box-shadow: 0 0 10px rgba(0,0,0,.3);
                .card-header{
                    background-color: #00E6FE;
                }
                }
            }
        }
    }  
}