.sectionAnnonces{
    text-align: center;
    margin-top: 50px;
    height: auto;
    .deck{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        justify-content: center;
        a{
            text-decoration: none;
            color: black;
        }   
            .card{
                width: 300px;
                margin: 20px;
                text-align: left;
                border-radius: 2%;
                -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
                -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
                box-shadow: 0 0 10px rgba(0,0,0,.3);
                
                img{
                    width: 100%;
                    height: 200px;
                    
                }
                h5{
                    text-align: center;
                }
            }
    }
}