@media screen and (min-width: 900px) /*define here the style for large screens (>900px) */
{
.user-info {
  display: flex;
}

.user-annonce{
  padding: 2rem;
  border: 1px solid black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  .user-annonceContainer {
    display: flex;
    padding: 1rem;
    align-items: center;

    .user-annonceList {
      display: flex;
      justify-items: center;
      justify-content: space-around;
    }

    .user-annonceAction {
      display: flex;
      justify-items: center;
      justify-content: space-around;
    }
  }
}

.user-infos {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;

  h6{
    margin-right: 0.5rem;
  }
  
  p{
    font-weight: 500;
  }
}
}
@media screen and (max-width: 900px) /* Here we will define the css for smaller screens (<900px) */

{
  .user-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;

    .user-annonce{
      width: 100%;
      max-width: 40rem;
      min-width: 5rem;
      margin: auto;
      
    .user-annonceContainer{
      width: 100%;
      max-width: 35rem;
      min-width: 5rem;
      height: auto;
      margin: auto;

      .table-striped{

        .btnSection{
          
          .btnOption{
            width: 60px;
            height: 40px;
            margin: 15px;
            font-size: 10px;
          }
        }
      }

      }
    
    }
  }
  .profilInfos{
    width: 100%;
    max-width: 35rem;
    min-width: 5rem;
    height: auto;
    margin: auto;
    border-top: 2px solid black;
    h3{
      margin-top: 15px;
    }
  }
}